<div class="modal-bg" ng-click="closeModal()">
	<div class="container-fluid modal-container">
		<div class="modal-box" ng-click="$event.stopPropagation()">
			<div class="modal-header-wrapper">
				<header class="book-box row">
					<div class="book-pic-box col-xs-5 col-sm-5 col-md-5">
						<div class="modal-book-pic-wrapper">
							<img ng-src="{{ book.img_path }}" alt="이미지 없음" onerror="this.onerror=noll;this.src='http://static.naver.net/book/image/noimg3.gif'">
						</div>
					</div>
					<div class="book-info-box col-xs-7 col-sm-7 col-md-7">
						<dl class="book-property">
							<dt>선정</dt>
							<dd>{{ book.selector.name }}</dd>
							<dt>선정일</dt>
							<dd>{{ book.created_time }}</dd>
							<dt>제목</dt>
							<dd class="book-title">{{ book.title }}</dd>
							<dt>작가</dt>
							<dd class="book-writer">{{ book.writer }}</dd>
							<dt>출판사</dt>
							<dd class="book-publisher">{{ book.publisher }}</dd>
							<dt><a ng-href="{{ book.info_link }}">외부정보링크</a></dt>
						</dl>
					</div>
				</header>
			</div>
			<div class="comment-box">
				<form class="form-horizontal" ng-submit="createComment()">
					<div ng-show='!commentFlag||commentEditFlag' ng-if='oUser.id === book.selector._id'>
						<label>선정자의 한마디</label>
						<div class="form-group col">
							<div class="col-sm-10">
								<textarea id="comment" class="comment-reply" rows="5" ng-model="comment.content"></textarea>
							</div>
							<div class="col-sm-2 wrapper-btn-book-reply-submit">
								<button class="btn btn-primary btn-book-reply-submit" ng-cob-disable-checker ng-cob-attr-flag="comment.content">선정자의 한마디</button>
							</div>
						</div>
					</div>
					<div ng-show='(commentFlag&&!commentEditFlag)||(oUser.id !== book.selector._id)'>
						<label>선정자의 한마디</label>
						<button type="button" class="close" aria-label="Close" ng-click='deleteComment(comment)' ng-if='comment.selector._id === oUser.id'><span class='glyphicon glyphicon-remove icon-comment'></span></button>
						<button type="button" class="close" aria-label="Close" ng-click='openCommentEditor()' ng-if='comment.selector._id === oUser.id'><span class='glyphicon glyphicon-pencil icon-comment'></span></button>
						<p class="comment-content">{{ comment.content }}</p>
					</div>
				</form>
			</div>
			<div class="reply-box">
				<form class="form-horizontal" ng-submit="createReply()">
					<div class="form-group col">
						<div class="col-sm-10">
							<textarea class="book-reply" rows="5" ng-model="reply.content"></textarea>
						</div>
						<div class="col-sm-2 wrapper-btn-book-reply-submit">
							<button class="btn btn-primary btn-book-reply-submit" ng-cob-disable-checker ng-cob-attr-flag="reply.content">생각달기</button>
						</div>
					</div>
				</form>
			</div>
			<div class="replies-box">
				<ul class="replies list-unstyled">
					<li ng-repeat='reply in replies'>
						<button type="button" class="close" aria-label="delete" ng-click='deleteReply(book, reply)' ng-if='oUser.id === reply.replier._id'><span class='glyphicon glyphicon-remove icon-reply'></span></button>
						<p class='reply-top-text'>
						<span class="reply-replier">{{ reply.replier.name }}</span>
						<span class="reply-edited-time">{{ parseDate(reply.edited_time) }}</span>
						</p>
						<!--<p class="reply-replier">{{ reply.replier.name }}</p>-->
						<p class="reply-content">{{ reply.content }}</p>
						<!--<p class="reply-edited-time">{{ parseDate(reply.edited_time) }}</p>-->
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
