<div class="wrapper-create-book">
	<div class="container-fluid container-create-book">
		<div class="row">
			<div class="col-sm-3 col-md-3 box-create-book">
				<form ng-submit="searchBooks()">
					<div class="form-group">
						<input class="form-control" type="text" ng-model="query">
					</div>
					<div class="form-group">
						<button class="btn btn-default" type="button" ng-click="searchBooks()">검색</button>
					</div>
				</form>
				<form ng-submit="createBook()" ng-show='createBoxFlag'>
					<div class="form-group">
						<label class="control-label" for="inputTitle">Title</label>
						<input id="inputTitle" class="form-control" type="text" ng-model="book.title" disabled>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputWriter">Writer</label>
						<input id="inputWriter" class="form-control" type="text" ng-model="book.writer" disabled>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputPublisher">Publisher</label>
						<input id="inputPublisher" class="form-control" type="text" ng-model="book.publisher" disabled>
					</div>
					<div class="form-group">
						<label class="control-label" for="selectSemester">Semester</label>
						<select id="selectSemester" class="form-control" ng-model="book.semester" ng-init="book.semester='1502'">
							<option value="1502">15년2학기</option>
							<option value="1503">15년3학기</option>
							<option value="1601">16년1학기</option>
							<option value="1602">16년2학기</option>
							<option value="1603">16년3학기</option>
							<option value="1604">17년1학기</option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn btn-default" ng-cob-disable-checker ng-cob-attr-flag="book.flag">등록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid container-create-book">
	<div class="row">
		<ul class="col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9 searched-books list-inline">
			<li class="searched-book col-xs-4 col-sm-3 col-md-3" ng-repeat="book in oSearchedBooks.aBooks">
				<a class="book-card" href="javascript:void(0)" ng-click="fillInputs(book)">
					<div class="book-pic-wrapper">
						<img class="center-block" ng-attr-src="{{ book.imgPath}}" alt="이미지 없음" onError="this.onerror=null;this.src='http://static.naver.net/book/image/noimg3.gif'">
					</div>
					<dl class="book-property">
						<dt>제목</dt>
						<dd class="book-title">{{ book.title }}</dd>
						<dt>작가</dt>
						<dd class="book-writer">{{ book.writer }}</dd>
						<dt>출판사</dt>
						<dd class="book-publisher">{{ book.publisher }}</dd>
					</dl>
				</a>
			</li>
		</ul>
		<div class="col-sm-offset-3 col-md-offset-3" ng-if="oSearchedBooks.moreBooksFlag">
			<button class="btn btn-default glyphicon glyphicon-menu-down center-block" type="button" ng-click="searchNextPage()"></button>
		</div>
	</div>
</div>
