<!DOCTYPE html>
<html lang="en" ng-app="bookBank">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<title>book-bank</title>
		<base href='/' />
		<link rel="stylesheet" href="bookbank/static/bower_components/bootstrap/dist/css/bootstrap.css" media="all">
		<link rel="stylesheet" href="bookbank/static/css/app.css" media="all">
		<script src="bookbank/static/bower_components/jquery/dist/jquery.js"></script>
		<script src="bookbank/static/bower_components/angular/angular.js"></script>
		<script src="bookbank/static/bower_components/angular-resource/angular-resource.js"></script>
		<script src="bookbank/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bookbank/static/bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bookbank/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bookbank/static/bower_components/validator-js/validator.js"></script>
		<script src="bookbank/static/js/app.js"></script>
		<script src="bookbank/static/js/controllers.js"></script>
		<script src="bookbank/static/js/services.js"></script>
		<script src="bookbank/static/js/directives.js"></script>
	</head>
	<body ng-controller='NavbarCtrl' ng-class='overflow'>
		<div class="wrapper-header" ng-include="'bookbank/static/partials/header.html'"></div>
		<div ui-view></div>
		<div class="working-bg" ng-show="isWorking"></div>
	</body>
</html>
